/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}



/* Global Styles */
body {
    background: linear-gradient(to right, #00f8ff, #00fff2, #00ffa6);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
nav{
    background-color: transparent;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.three-lines{
    width: 43px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 4px 0;
}
.logo{
    display: flex;
    justify-content: center;
    align-self: center;
}
.logo img{
    height: 60px;
}
.openMenu{
    display: none;
}
.mainMenu{
    display: flex;
    list-style: none;
    
}
.mainMenu li a{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 14px;
    border-radius: 15px;
}
.mainMenu li a:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.mainMenu .closeMenu , .icons i {
    display: none;
    cursor: pointer;
}
.fa-insta:hover{
    background-color: aqua;
    color: black;
}
.fa-insta:linkedin{
    background-color: aqua;
    color: black;
}
.fa-github:hover{
    background-color: aqua;
    color: black;
}








/* about me section */
#aboutme{
    background: linear-gradient(to right, #00f8ff, #00fff2, #00ffa6);
    display: flex;
    justify-content: center;
    height: 300px;
}
#aboutme .information{
    color: black;
    margin: 2px;
    padding: 10px;
}
#aboutme .information h1 {
    font-size: 40px;
    height: 40px;
    font-family: "Bricolage_Grotesque variant0", Tofu;
}
#aboutme .information #hideskills {
display: none;
}
#aboutme .information p {
    margin-top: 15px;
}
#aboutme .information button {
    background: rgb(134, 255, 243);
    border: #000000 solid 2px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    
}
#aboutme .information button:hover{
background: rgba(64, 224, 208, 0.818);
}





/* Projects Section */
#projects{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    color: whitesmoke;
    text-shadow: #000000;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: black;
    margin: 2px;
    padding: 10px;
}
#projects .project video{
    width: 100%;
    opacity: 1;
    border-radius: 15px;
}
#projects #video_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#projects #video_info a{
    text-decoration:none;
    color:black;
    
}

#projects .project video:hover{
    opacity: 1;
    scale: 1.02;
    transition: 0.3s ease;
    box-shadow: black 4px 4px 4px;
    
}



/* contact section */
#contact h1{
    color: whitesmoke;
    text-shadow: #000000;
}
#contact .information {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: black;
    margin: 2px;
    padding: 10px;
}
#contact .information a img{
    height: 35px;
}





@media (max-width:700px) {
    #projects{
        display: block;
        
    }
    .project{
        width: auto;
        margin: 20px;
        padding: 10px;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #search{
        width: auto;
    }
    .nav-elements ul{
        display: block;
    }
    .nav-elements .nav-elements{
        display: none;
    }
    
    .mainMenu{
        height: 360px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: aqua;
        transition: top 1s ease;
        display: none;
    }
    .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .openMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .mainMenu li a :hover{
        background: none;
        color: red;
    }
    .icons i{
        display: inline-block;
        padding: 12px;
    }
}

